<%= form_for @administer, :url => {:action=>'create'} do |f| %>
  <% if @administer.errors.any? %>
    <div id="error_explanation">
      <h2>
        共有<%= @administer.errors.count %>个错误:
      </h2>
      <ul>
        <% @administer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><%= f.label :login, "账户名" %></td>
      <td><%= f.text_field :login %></td>
    </tr>
    <tr>
      <td><%= f.label :email, "邮箱" %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :password, "密码" %></td>
      <td><%= f.text_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, "确认密码" %></td>
      <td><%= f.text_field :password_confirmation %></td>
    </tr>
    <tr>
      <td><%= f.label :nickname, "昵称" %></td>
      <td><%= f.text_field :nickname %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "提交" %></td>
    </tr>
  </table>
<% end %>