当前位置->添加地址
<div  class="table-body">
<%= form_for @address , :url => {:action=>'create'} do |f| %>
  <table>
    <tr>
      <td>省</td>
      <td><%= f.text_field :province %></td>
    </tr>
    <tr>
      <td>市</td>
      <td><%= f.text_field :city %></td>
    </tr>
    <tr>
      <td>区</td>
      <td><%= f.text_field :region %></td>
    </tr>
    <tr>
      <td>详细住址</td>
      <td><%= f.text_area :detail  %></td>
    </tr>
    <tr>
      <td>收货人</td>
      <td><%= f.text_field :receiver %></td>
    </tr>
    <tr>
      <td><%= f.hidden_field :user_id ,:value => @current_user.id %></td>
      <td><%= f.submit(value = "提交") %></td>
    </tr>

  </table>
<% end %>
</div>
<style>
  .table-body{
    margin: 100px;
    /*border: solid 1px black;*/
  }
  .table-body table{
    border: black 1px solid;
    width: 100%;
    mso-cellspacing: 0;
    text-align: center;
    border-collapse: collapse;
    line-height: 30px;
  }
  .table-body table td{
    border: black 1px solid;
    margin: 0px;
    padding: 0px;
  }
</style>