<%= form_for @user, :url => {:action=>'create'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        共有<%= @user.errors.count %>个错误:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><%= f.label :login, "账户名" %></td>
      <td><%= f.text_field :login %></td>
    </tr>
    <tr>
      <td><%= f.label :email, "邮箱" %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :password, "密码" %></td>
      <td><%= f.text_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, "确认密码" %></td>
      <td><%= f.text_field :password_confirmation %></td>
    </tr>
    <tr>
      <td><%= f.label :nickname, "昵称" %></td>
      <td><%= f.text_field :nickname %></td>
    </tr>
    <tr>
      <td><%= f.label :sex, "性别" %></td>
      <td><%= select_tag "user[sex]" ,raw("<option selected='selected'>——非必需——</option><option value= '1'>男</option><option value='2'>女</option>") %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "提交" %></td>
    </tr>
  </table>
<% end %>